.fc {
  border-radius: 8px;
  overflow: hidden;
  border: 1px solid #e5e7eb;
}

.fc .fc-toolbar-title {
  color: #1e293b !important; 
  font-size: 1.5rem !important; 
  font-weight: 700 !important; 
  text-transform: capitalize;
}

.fc-col-header-cell {
  background-color: #f9fafb;
  padding: 10px 0 !important;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 700;
  color: #374151;
}
.fc-day-today {
  background-color: #0ac92a;
}

.fc-button-primary {
  background-color: #3b82f6 !important;
  border-color: #3b82f6 !important;
  font-weight: 600 !important;
  text-transform: capitalize !important;
}
.fc-button-primary:hover {
  background-color: #2563eb !important;
}
